* {
	margin: 0;
	padding: 0;
}

.header {
	position: relative;
	overflow: hidden;
}
.menu {
	overflow: hidden;
	position: relative;
	float: right;
}
.menu li {
	float: left;
	margin: 10px;
}

.main {
	background-color: #fff;
}
.sidebar {
	float: right;
	width: 200px;
}